{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>Shopping Cart</h2>
                    </div>

                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                <tr>
                                    <td class="cart_product_img">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{% if product.image %}{{ product.image.url}}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                        </a>
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5>{{ product.name }}</h5>
                                    </td>
                                    <td class="price">
                                        <span>{{ product.price }}</span>
                                    </td>
                                    <td class="qty">
                                        <div class="qty-btn d-flex">
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.override }}
                                                <input type="submit" value="Update">
                                            </form>
                                            <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Remove">
                                        </form>
                                        </div>

                                    </td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>Apply a coupon:</p>
                        <form action="{% url "coupons:apply" %}" method="post">
                            {% csrf_token %}
                            {{ coupon_apply_form }}
                            <input type="submit" value="Apply">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Cart Total</h5>
                        <ul class="summary-table">
                            {% if cart.coupon %}
                                <li>
                                    <span>subtotal:</span>
                                    <span>${{ cart.get_total_price|floatformat:2 }}</span>
                                </li>
                                <li>
                                    <span>"{{ cart.coupon.code }}"</span>
                                    ({{ cart.coupon.discount }}% off)
                                </li>
                                <li>
                                    <span>  </span>
                                    <span>- ${{ cart.get_discount|floatformat:2 }}</span>
                                </li>
                            {% endif %}
                            <li>
                                <span>total:</span>
                                <span>${{ cart.get_total_price_after_discount|floatformat:2 }}</span>
                            </li>
                        </ul>
                        <div class="cart-btn mt-100">
                            <a href="{% url "orders:order_create" %}" class="btn amado-btn w-100">Checkout</a>
                        </div>
                    </div>
                    <div class="cart-btn mt-100">
                        <a href="{% url 'shop:product_list' %}" class="btn amado-btn w-100 active">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}