{% extends "shop/base.html" %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1>Thank you</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <p>
                        Your order has been successfully completed.
                        Your order number is <strong>{{ order.id }}</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}