{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        {% trans 'Products' %}
    {% endif %}
{% endblock %}

{% block jumbotron %}
<!-- Heading -->
    <div class="bg-primary mb-4">
        <div class="container py-4">
            {% if category %}
                <h3 class="text-white mt-2">{{ category.name }}</h3>
            {% else %}
                <h3 class="text-white mt-2">{% trans "Products" %}</h3>
            {% endif %}
        <!-- Breadcrumb -->
            <nav class="d-flex mb-2">
                <h6 class="mb-0">
                    <a href="{% url 'shop:home' %}" class="text-white-50">
                        {% trans 'Home' %}
                    </a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="{% url 'shop:product_list' %}" class="text-white-50">
                        {% trans 'Shop' %}
                    </a>
                    {% if category %}
                        <span class="text-white-50 mx-2"> > </span>
                        <a href="{% url 'shop:product_list_by_category' category.slug %}" class="text-white-50">
                            {{ category.name }}
                        </a>
                    {% endif %}
                </h6>
            </nav>
        <!-- Breadcrumb -->
        </div>
    </div>
<!-- Heading -->
{% endblock %}

{% block content %}
<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3">
        <!-- Toggle button -->
        <button
                class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button text-dark bg-light"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                        >
                  {% trans 'Categories' %}
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <ul class="list-unstyled">
                      {% for c in categories %}
                    <li><a href="{{ c.get_absolute_url }}" class="text-dark">{{ c.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                        class="accordion-button text-dark bg-light"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#panelsStayOpen-collapseFive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive"
                        >
                  {% trans 'Ratings' %}
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                <div class="accordion-body">
                  <!-- Default checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                    <label class="form-check-label" for="flexCheckDefault">
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                    </label>
                  </div>
                  <!-- Default checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                    <label class="form-check-label" for="flexCheckDefault">
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-secondary"></i>
                    </label>
                  </div>
                  <!-- Default checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                    <label class="form-check-label" for="flexCheckDefault">
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i>
                      <i class="fas fa-star text-secondary"></i>
                    </label>
                  </div>
                  <!-- Default checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                    <label class="form-check-label" for="flexCheckDefault">
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i><i class="fas fa-star text-secondary"></i>
                      <i class="fas fa-star text-secondary"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <!-- content -->
    <div class="col-lg-9">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            {% if category %}
                <strong class="d-block py-2">{{ category.name|title }}</strong>
            {% else %}
                <strong class="d-block py-2">{% trans "Products" %}</strong>
            {% endif %}
            <div class="ms-auto">
                <div class="btn-group shadow-0 border">
                    <a href="#" class="btn btn-light" title="List view">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <a href="#" class="btn btn-light active" title="Grid view">
                        <i class="fa fa-th fa-lg"></i>
                    </a>
                </div>
            </div>
        </header>

        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-3">
                    <div class="card text-center">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ product.product_images.first }}" class="img-fluid"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">{% trans 'View Product' %}</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        <hr />
        {% include "shop/pagination.html" with page=products %}

        </div>
    </div>
  </div>
</section>
<!-- sidebar + content -->
{% endblock %}