{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}

{% if category %}
    {{ category.name }}
{% else %}
    {% trans "Products" %}
{% endif %}

{% endblock %}

{% block content %}
    <!-- breadcrumbs -->
    <section class="breadcrumbs separator-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'shop:home' %}">
                                    {% trans 'Home' %}
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="{% url 'shop:product_list' %}">
                                    {% trans 'Shop' %}
                                </a>
                            </li>
                            {% if category %}
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="{% url 'shop:product_list_by_category' category.slug %}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    <!-- listing -->
    <section class="pt-6">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-9">
                    <div class="row gutter-2 align-items-end">
                        <div class="col-md-6">
                            {% if category %}
                                <h1 class="mb-0">{{ category.name }}</h1>
                            {% else %}
                                {% trans "Products" %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-md-right">
                            <div class="dropdown">
                                <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#!" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Sort" %}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">
                                        {% trans 'Price: high to low' %}
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        {% trans 'Price: low to high' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gutter-4">

                <!-- sidebar -->
                <aside class="col-lg-3 sidebar">

                    <div class="widget">
                        <span class="widget-collapse d-lg-none" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1" role="button">
                            {% trans 'Filter by Category' %}
                        </span>
                        <div class="d-lg-block collapse" id="collapse-1">
                            <span class="widget-title">{% trans 'Categories' %}</span>
                            <div class="widget-content">
                                <ul id="page-nav" class="nav flex-column nav-category">
                                    {% for c in categories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ c.get_absolute_url }}" role="button" aria-expanded="false" aria-controls="menu-2">{{ c.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <span class="widget-collapse d-lg-none" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3" role="button">
                            {% trans 'Filter by Size' %}
                        </span>
                        <div class="d-lg-block collapse" id="collapse-3">
                            <span class="widget-title">{% trans 'Size' %}</span>
                            <div class="widget-content">
                                <div class="btn-group-toggle btn-group-square" data-toggle="buttons">
                                    <label class="btn active">
                                        <input type="checkbox" name="options" id="option1" checked> S
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="options" id="option2"> M
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="options" id="option3"> L
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="options" id="option4"> XL
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="options" id="option2"> XXL
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="options" id="option3"> 3XL
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <span class="widget-collapse d-lg-none" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5" role="button">
                            {% trans 'Filter by Price' %}
                        </span>
                        <div class="d-lg-block collapse" id="collapse-5">
                            <span class="widget-title">Price</span>
                            <div class="widget-content">
                                <input type="text" class="rangeslider" name="Range Slider" value="" />
                            </div>
                        </div>
                    </div>

                </aside>

                <!-- content -->
                <div class="col-lg-9">
                    <div class="row gutter-2 gutter-lg-3">
                        {% for product in products %}
                            <div class="col-6 col-md-4">
                                <div class="product">
                                    <figure class="product-image">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img href="" src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/product-img/product2.jpg" %}{% endif %}" alt="{{ product.name }}">
                                        </a>
                                    </figure>
                                    <div class="product-meta">
                                        <h3 class="product-title">
                                            <a href="{{ product.get_absolute_url }}">
                                                {{ product.name}}
                                            </a>
                                        </h3>
                                        <div class="product-price">
                                            <span>${{ product.price }}</span>
                                            <span class="product-action">
                                                <a href="{% url 'cart:cart_add' product.id %}">
                                                    {% trans 'Add to cart' %}
                                                </a>
                                            </span>
                                        </div>
                                    <a href="#!" class="product-like"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav class="d-inline-block">
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a></li>
                                    <li class="page-item" aria-current="page"><a class="page-link" href="#!">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">4</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}