{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <link rel="stylesheet" href="{% static 'elegante/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'elegante/css/style.css' %}">

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>


    <!-- header -->
    <header class="header header-dark header-sticky">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="index.html" class="navbar-brand order-1 order-lg-2"><img src="assets/images/logo.svg" alt="Logo"></a>
                <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                    <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarMenu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown-11" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-11">
                                    <li>
                                        <a class="dropdown-item" href="index.html">
                                            Home - classic
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-carousel.html">
                                            Home - carousel
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-categories.html">
                                            Home - categories
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-modern.html">
                                            Home - modern
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-minimal.html">
                                            Home - minimal
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown megamenu">
                              <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown-4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown-4">
                                <div class="row">
                                  <ul class="col-6 col-md-3 col-lg-2">
                                    <li><span class="megamenu-title">Home</span></li>
                                    <li><a class="dropdown-item" href="index.html">Home - classic</a></li>
                                    <li><a class="dropdown-item" href="index-carousel.html">Home - carousel</a></li>
                                    <li><a class="dropdown-item" href="index-categories.html">Home - categories</a></li>
                                    <li><a class="dropdown-item" href="index-modern.html">Home - modern</a></li>
                                    <li><a class="dropdown-item" href="index-minimal.html">Home - minimal</a></li>
                                    <li><span class="megamenu-title">Shop</span></li>
                                    <li><a class="dropdown-item" href="listing-sidebar.html">Listing - sidebar</a></li>
                                    <li><a class="dropdown-item" href="listing-full.html">Listing - full width</a></li>
                                    <li><a class="dropdown-item" href="listing-masonry.html">Listing - masonry</a></li>
                                    <li><a class="dropdown-item" href="listing-modern.html">Listing - modern</a></li>
                                  </ul>
                                  <ul class="col-6 col-md-3 col-lg-2">
                                    <li><span class="megamenu-title">Product</span></li>
                                    <li><a class="dropdown-item" href="product-classic.html">Product - classic</a></li>
                                    <li><a class="dropdown-item" href="product-scroll.html">Product - scroll</a></li>
                                    <li><a class="dropdown-item" href="product-masonry.html">Product - masonry</a></li>
                                    <li><a class="dropdown-item" href="product-modern.html">Product - modern</a></li>
                                    <li><a class="dropdown-item" href="product-promo.html">Product - promo</a></li>
                                    <li><a class="dropdown-item" href="product-oos.html">Product - out of stock</a></li>
                                    <li><span class="megamenu-title">Order</span></li>
                                    <li><a class="dropdown-item" href="cart/cart-detail.html">Cart</a></li>
                                    <li><a class="dropdown-item" href="cart-full.html">Cart - full width</a></li>
                                    <li><a class="dropdown-item" href="orders/checkout.html">Checkout</a></li>
                                  </ul>
                                  <ul class="col-6 col-md-3 col-lg-2">
                                    <li><span class="megamenu-title">Account</span></li>
                                    <li><a class="dropdown-item" href="portal.html">Log In</a></li>
                                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                    <li><a class="dropdown-item" href="profile-orders.html">Orders</a></li>
                                    <li><a class="dropdown-item" href="profile-addresses.html">Addresses</a></li>
                                    <li><a class="dropdown-item" href="profile-payments.html">Payments</a></li>
                                    <li><a class="dropdown-item" href="profile-wishlist.html">Wishlist</a></li>
                                    <li><span class="megamenu-title">Blog</span></li>
                                    <li><a class="dropdown-item" href="blog-cards.html">Blog - cards</a></li>
                                    <li><a class="dropdown-item" href="blog-posts.html">Blog - posts</a></li>
                                    <li><a class="dropdown-item" href="post.html">Post</a></li>
                                  </ul>
                                  <ul class="col-6 col-md-3 col-lg-2">
                                    <li><span class="megamenu-title">Pages</span></li>
                                    <li><a class="dropdown-item" href="about.html">About</a></li>
                                    <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                    <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                                    <li><a class="dropdown-item" href="text.html">Text Page</a></li>
                                    <li><a class="dropdown-item" href="404.html">404</a></li>
                                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                    <li><span class="megamenu-title">Docs</span></li>
                                    <li><a class="dropdown-item" href="/documentation/index.html">Documentation</a></li>
                                    <li><a class="dropdown-item" href="/documentation/changelog.html">Changelog</a></li>
                                  </ul>
                                  <div class="col-lg-4">
                                    <div class="promo">
                                      <span class="image image-overlay" style="background-image: url(assets/images/background-3.jpg)"></span>
                                      <div class="promo-footer p-4 text-white">
                                        <h3 class="mb-0">New Collection</h3>
                                        <a href="#!" class="eyebrow underline text-white">Shop Now</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="documentation/index.html">
                                    Docs
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse order-4 order-lg-3" id="navbarMenu2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'Log In' %}</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="modal" data-target="#search" class="nav-link"><i class="icon-search"></i></a>
                            </li>
                            <li class="nav-item cart">
                                {% with total_items=cart|length %}
                                <a data-toggle="modal" data-target="#cart" class="nav-link">
                                    <span>{% trans 'Cart' %}</span><span>{{ total_items }}</span>
                                </a>
                                {% endwith %}
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <footer class="bg-dark text-white py-0">
        <div class="container">
            <div class="row separated">
                <div class="col-lg-6 py-10">
                    <div class="row">
                        <div class="col-md-8">
                            <p>{% trans 'Please keep shopping with us' %}!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="eyebrow mb-2">{% trans 'Quick Links' %}</h4>
                            <ul class="list-group list-group-columns">
                                <li class="list-group-item"><a href="#">About</a></li>
                                <li class="list-group-item"><a href="#">Contact Us</a></li>
                                <li class="list-group-item"><a href="#">FAQ</a></li>
                                <li class="list-group-item"><a href="#">Blog</a></li>
                                <li class="list-group-item"><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-10">
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="eyebrow mb-2">{% trans 'Subscribe' %}</h4>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Subscribe" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white" type="button" id="button-addon2">{% trans 'Subscribe' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="eyebrow mb-2">Follow us</h4>
                            <nav class="nav nav-icons">
                                <a class="nav-link" href="#!"><i class="icon-facebook-o"></i></a>
                                <a class="nav-link" href="#!"><i class="icon-twitter-o"></i></a>
                                <a class="nav-link" href="#!"><i class="icon-youtube-o"></i></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- cart -->
    <div class="modal fade sidebar" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartLabel">{% trans 'Your Cart' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                <div class="row gutter-3">
                    <div class="col-12">
                        {% for item in cart %}
                        {% with product=item.product %}
                            <div class="cart-item cart-item-sm">
                                <div class="row align-items-center">
                                    <div class="col-lg-9">
                                        <div class="media media-product">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{% if product.image %}{{ product.image.url}}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-title">{{ product.name }}</h5>
                                                <span class="media-subtitle">x{{ product.quantity }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 text-center text-lg-right">
                                        <span class="cart-item-price">${{ product.price }}</span>
                                    </div>
                                    <a href="{% url "cart:cart_remove" product.id %}" class="cart-item-close"><i class="icon-x"></i></a>
                                </div>
                            </div>
                        {% endwith %}
                        {% endfor %}
                    </div>
                </div>

                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row gutter-0">
                            <div class="col d-none d-md-block">
                                <a href="{% url 'cart:cart_detail' %}" class="btn btn-lg btn-block btn-secondary">{% trans 'View Cart' %}</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'orders:order_create' %}" class="btn btn-lg btn-block btn-primary">{% trans 'Checkout' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- search -->
    <div class="modal fade search" id="search" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" placeholder="{% trans 'Type your search here' %}" aria-label="Type your search here" aria-describedby="button-addon2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            </div>
        </div>
    </div>
    <script src="{% static 'elegante/js/vendor.js' %}"></script>
    <script src="{% static 'elegante/js/app.js' %}"></script>
    </body>
</html>