{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans 'Checkout' %}
{% endblock %}

{% block jumbotron %}
<!-- Heading -->
<div class="bg-primary">
    <div class="container py-4">
    <!-- Breadcrumb -->
        <nav class="d-flex">
            <h6 class="mb-0">
                <a href="{% url 'shop:home' %}" class="text-white-50">{%  trans 'Home' %}</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="{% url 'cart:cart_detail' %}" class="text-white-50">2. {% trans 'Shopping cart' %}</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="{% url "orders:order_create" %}" class="text-white"><u>3. {% trans 'Order info' %}</u></a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="" class="text-white-50">4. {% trans 'Payment' %}</a>
            </h6>
        </nav>
    <!-- Breadcrumb -->
    </div>
</div>
<!-- Heading -->
{% endblock %}

{% block content %}
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 mb-4">
            <!-- Checkout -->
                <div class="card shadow-0 border">
                    <div class="p-4">
                        <h5 class="card-title mb-3">{%  trans 'Checkout' %}</h5>
                        <div class="row">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="col-6 mb-3">
                                    <p class="mb-0">{% trans 'First name' %}</p>
                                    <div class="form-outline">
                                        {{ form.first_name|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <p class="mb-0">{% trans 'Last name' %}</p>
                                    <div class="form-outline">
                                        {{ form.last_name|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <p class="mb-0">{% trans 'Email' %}</p>
                                    <div class="form-outline">
                                        {{ form.email|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <p class="mb-0">{% trans 'Phone Number' %}</p>
                                    <div class="form-outline">
                                        {{ form.phone_number|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-sm-10 mb-3">
                                    <p class="mb-0">{% trans 'Address' %}</p>
                                    <div class="form-outline">
                                        {{ form.address|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-sm-3 col-6 mb-3">
                                    <p class="mb-0">{% trans 'Postal code' %}</p>
                                    <div class="form-outline">
                                        {{ form.postal_code|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">{% trans 'City' %}</p>
                                    <div class="form-outline">
                                        {{ form.city|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="float-end">
                                <button type="submit" class="btn btn-success shadow-0 border">{% trans "Place order" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- Checkout -->
            </div>
            <div class="col-xl-5 col-lg-5 d-flex justify-content-center ">
                <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                    <h6 class="mb-3">{% trans 'Summary' %}</h6>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">{% trans 'Subtotal' %}:</p>
                        <p class="mb-2">${{ cart.get_total_price|floatformat:2 }}</p>
                    </div>
                    {% if cart.coupon %}
                    <div class="d-flex justify-content-between">
                    {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        <p class="mb-2">"{{ code }}"</p>
                        <p class="mb-2">{{ discount }}% off</p>
                    {% endblocktrans %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">{% trans 'Discount' %}</p>
                        <p class="mb-2 text-danger">- ${{ cart.get_discount|floatformat:2 }}</p>
                    </div>
                    {% endif %}
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">{% trans 'Total' %}:</p>
                        <p class="mb-2 fw-bold">${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
                    </div>

                    <hr />
                    <h6 class="text-dark my-4">{% trans 'Items in cart' %}</h6>
                    {% for item in cart %}
                        <div class="d-flex align-items-center mb-4">
                            <div class="me-3 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                    {{ item.quantity }}
                                </span>
                                <img src="" style="height: 96px; width: 96px;" class="img-sm rounded border" />
                            </div>
                            <div class="">
                                <a href="#" class="nav-link">
                                {{ item.product.name }}
                                </a>
                                <div class="price text-muted">Total: ${{ item.total_price|floatformat:2 }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}