{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Thank you' %}
{% endblock %}

{% block content %}
    <!-- hero -->
    <section class="hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <span class="eyebrow decorated mb-1">{% trans 'ORDER CREATED' %}</span>
                    <h1 class="mb-2">{% trans 'Thank you' %}!</h1>
                <!-- blockquote -->
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <blockquote class="blockquote">
                                <p>
                                    Your order has been successfully created.
                                    Your order number is <strong>{{ order.id }}</strong>.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
