{% extends "shop/base.html" %}

{% block title %}
    Payment successful
{% endblock %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1>Payment Successful</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <p>
                        Your payment has been processed successfully.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}