{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans 'Pay by credit card' %}
{% endblock %}

{% block jumbotron %}
<!-- Heading -->
<div class="bg-primary">
    <div class="container py-4">
    <!-- Breadcrumb -->
        <nav class="d-flex">
            <h6 class="mb-0">
                <a href="{% url 'shop:home' %}" class="text-white-50">{%  trans 'Home' %}</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="{% url 'cart:cart_detail' %}" class="text-white-50">2. {% trans 'Shopping cart' %}</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="{% url "orders:order_create" %}" class="text-white-50"><u>3. {% trans 'Order info' %}</u></a>
                <span class="text-white mx-2"> > </span>
                <a href="" class="text-white">4. {% trans 'Payment' %}</a>
            </h6>
        </nav>
    <!-- Breadcrumb -->
    </div>
</div>
<!-- Heading -->
{% endblock %}

{% block content %}
<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="card mb-4 border col-md-7 col-lg-6">
                <div class="card-body">
                    <h5 class="card-title mb-4">{% trans 'Pay by Credit Card' %}</h5>
                    <form id="payment" method="post">
                    {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4 form-group">
                            <div id="card-number" class="field form-control form-outline" style="height: 35px;"></div>
                            <label for="card-number">{% trans 'Card Number' %}</label>
                        </div>

                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline form-group">
                                    <div id="cvv" class="field form-control form-outline" style="height: 35px;"></div>
                                    <label for="cvv">CVV</label>
                                </div>
                            </div>
                            <div class="col">

                                <div class="form-outline form-group">
                                    <div id="expiration-date" class="field form-control form-outline" style="height: 35px;"></div>
                                    <label for="expiration-date">{% trans 'Expiration Date' %}</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                        <!-- Submit button -->
                        <input type="submit" class="btn btn-primary btn-block mb-4" value="{% trans 'Pay' %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/3.91.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.91.0/js/hosted-fields.min.js"></script>
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
        authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error(clientErr);
            return;
        }

        braintree.hostedFields.create({
            client: clientInstance,
            styles: {
                'input': {'font-size': '13px', 'height': '25px'},
                'input.invalid': {'color': 'red'},
                'input.valid': {'color': 'green'}
            },
            fields: {
                number: {selector: '#card-number', placeholder: '1111 1111 1111 1111'},
                cvv: {selector: '#cvv', placeholder: '111'},
                expirationDate: {selector: '#expiration-date', placeholder: 'MM / YY'}
            }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
                console.error(hostedFieldsErr);
                return;
            }
            submit.removeAttribute('disabled');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                        console.error(tokenizeErr);
                        return;
                    }
                    // set nonce to send to the server
                    document.getElementById('nonce').value = payload.nonce;
                    // submit form
                    document.getElementById('payment').submit();
                });
            }, false);
        });
    });
</script>
{% endblock %}